{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block css %}

#more {
  display: none;
}
@media screen and (min-width: 0px) and (max-width: 600px)  {
  .container{
    display: none;
  }
  .con{
    display: block;
  }
  .jumbotron{
    height:300px;
  }
  .con1{
    display:block;
    position:absolute;
    top:67%;
  }
  .con2{
    display:block;
    position:absolute;
    top:120%;
  }
  .con3{
    display:block;
    position: absolute;
    top:180%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1500px){
  .con{
    display: none;
  }
  .container{
    display: block;
  }
  .con1{
    display:none;
  }
  .con2{
    display:none;
  }
  .con3{
    display:none;
  }
}
{% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">


    <!-- For mobile view only -->
    <div class="con">
      <h4>---Outlet--- <br>Buy on a dime </h4>
      <p>This Outlet E-commerce website is made up by Neha jha for college project purpose this is not suppose be a real e-commerce this is just for pracice purpose</p>
    </div>
    <div class="con1">
      <h5>About E-commerce</h5>
      <p>Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or
        services using the internet, and the transfer of money and data to execute these transactions.E-commerce has
        emerged as a massive sector across the world, growing at double-digit figures. </p>
    </div>
    <div class="con2">
      <h5>Bit more about Outlet</h5>
      <p>This Outlet E-commerce website is made up by Neha jha.Ecommerce, also known as electronic commerce or
        internet
        commerce, refers to the buying and selling of goods or
        services using the internet, and the transfer of money and data to execute these transactions..Outlet is an
        Indian e-commerce company based in Delhi,India.</p>
    </div>
    <div class="con3">
      <h5>Payments</h5>
      <p>An e-commerce payment system (or an electronic payment system) facilitates the acceptance of electronic
        payment for online transactions. Also known as a subcomponent of electronic data interchange (EDI), e-commerce
        payment systems have become increasingly popular due to the widespread use of the internet-based shopping and
        banking.</p>
    </div>

    <!-- for desktop view only -->
    <div class="container">
      <h1 class="display-3">---Outlet---<br>Buy on a dime</h1>
      <p>This Outlet E-commerce website is made up by Neha jha for college project purpose this is not suppose be a real e-commerce this is just for pracice purpose
        <span
          id="dots">...</span><span  id="more" >Outlet is an
          Indian e-commerce company based in Delhi,India. It was founded by Neha jha
          in 2020. The company initially focused on book sales, before expanding into other product
          categories such as consumer electronics, fashion, home essentials & groceries, and lifestyleproducts.
          The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[8][9] As of
          September 2020,Outlet held a 39.5% market share of India's e-commerce industry.[10] Outlet is significantly
          dominant in the sale of apparel (a position that was bolstered by its acquisition of Myntra), and was
          described
          as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[11] Outlet also owns
          Paytm, a mobile payments service.</span></p>
            <p><a href="#" onclick="myFunction()" role="button" id="myBtn">Read More &raquo;</a></p>
          </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>About E-commerce</h2>
        <p>Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or
          services using the internet, and the transfer of money and data to execute these transactions.E-commerce has
          emerged as a massive sector across the world, growing at double-digit figures. Marketers are eager to
          leveragethis trend and build engaging e-commerce
          applications which attract the widest possible audience. This also
          requires dedicated marketing strategies for the e-commerce business.E-commerce marketing involves a variety
          of elements: outbound marketing channels (social media, email
          marketing, etc.), strategies for sales maximization including pricing and UI, and reporting/analytics
          features
          for data-driven e-commerce. Also, e-commerce apps have to be carefully designed, showcasing products via
          intuitive user experiences to drive sales.</p>
      </div>
      <div class="col-md-4">
        <h2>Bit more about Outlet</h2>
        <p>This Outlet E-commerce website is made up by Neha jha.Ecommerce, also known as electronic commerce or
          internet
          commerce, refers to the buying and selling of goods or
          services using the internet, and the transfer of money and data to execute these transactions..Outlet is an
          Indian e-commerce company based in Delhi,India. It was founded by Neha jha
          in 2020. The company initially focused on book sales, before expanding into other product
          categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle.In the last
          decade, widespread use of e-commerce platforms such as Amazon and eBay has contributed to substantial growth
          in online retail. In 2007, e-commerce accounted for 5.1% of total retail sales; in 2019, e-commerce made up
          16.0%. </p>
      </div>
      <div class="col-md-4">
        <h2>Payments</h2>
        <p>An e-commerce payment system (or an electronic payment system) facilitates the acceptance of electronic
          payment for online transactions. Also known as a subcomponent of electronic data interchange (EDI), e-commerce
          payment systems have become increasingly popular due to the widespread use of the internet-based shopping and
          banking.

          Credit cards remain the most common forms of payment for e-commerce transactions. As of 2008, in North America
          almost 90% of online retail transactions were made with this payment type.[1] It is difficult for an online
          retailer to operate without supporting credit and debit cards due to their widespread use.[1] Online merchants
          must comply with stringent rules stipulated by the credit and debit card issuers (e.g. Visa and Mastercard) in
          accordance with bank and financial regulation in the countries where the debit/credit service conducts
          business.</p>
      </div>

  </div> <!-- /container -->

</main>
{% endblock %}
{% block js %}
<script>
  
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

</script>
{% endblock %}